<header class="app-header">
  <div class="logo">
    <a routerLink="/">
      <img src="assets/Imagens/Produtos/ese7e-logo.png" alt="ESE7E Store">
    </a>
  </div>
  <nav>
    <ul>
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/produtos">Produtos</a></li>
      <li><a routerLink="/cadastro">Cadastro</a></li>
      <li><a routerLink="/contato">Contato</a></li>
      <li><a routerLink="/login">Login</a></li>
      <li class="cart-icon-container">
        <a routerLink="/carrinho">
          <i class="fas fa-shopping-cart"></i>
          @if ((cartItemCount$ | async); as count) {
            @if (count > 0) {
              <span class="cart-badge">{{ count }}</span>
            }
          }
        </a>
      </li>
    </ul>
  </nav>
</header>