<div class="contact-container">
  <h2>Entre em Contato Conosco!</h2>
  <p>Estamos prontos para te ajudar com suas dúvidas e necessidades sobre componentes de informática.</p>

  <div class="contact-info">
    <h3>Informações de Contato:</h3>
    <p><i class="fas fa-phone"></i> Telefone: (71) 99727-1441</p>
    <p><i class="fas fa-envelope"></i> E-mail: ese7etecnologias&#64;outlook.com.br</p>
  </div>

  <div class="social-links">
    <h3>Conecte-se Conosco:</h3>
    <ul>
      <li>
        <a href="https://wa.me/71997271441" target="_blank">
          <i class="fab fa-whatsapp"></i> WhatsApp
        </a>
      </li>
      <li>
        <a href="https://facebook.com/share/19V1WfUaoT" target="_blank">
          <i class="fab fa-facebook"></i> Facebook
        </a>
      </li>
      <li>
        <a href="https://instagram.com/ese7e_tecnologias" target="_blank">
          <i class="fab fa-instagram"></i> Instagram
        </a>
      </li>
    </ul>
  </div>
</div>